{% load get_dict_value_by_key_name %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <title>Nagios Aggrator</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!--<script type="text/javascript" src="http://203.117.172.248/media/javascript/dispaly_sms_stats.js"></script>-->
<style type="text/css" src="http://203.117.172.248/media/css/bootstrap/css/bootstrap.min.css"></style>
<script>

function getCookie(cname)
{
var name = cname + "=";
var ca = document.cookie.split(';');
for(var i=0; i<ca.length; i++) 
  {
  var c = ca[i].trim();
  if (c.indexOf(name)==0) return c.substring(name.length,c.length);
  }
return "";
}

function set_draw_level(){//set the display according to status selected
    //var arrChk=$("td");

    var statusArray = ["Warning", "Critical", "Unknown"]

    var arrChk = $("td[id^=status]")
    $(arrChk).each(function(){
        var id = $(this).attr('id')
        var host = id.substring(7)
        var status_text = $(this).text().trim()

        console.log("detected " + id + " with status " + status_text)
        //console.log( $("#Checkbox_Warning").is(":checked") == true )

        for (var i in statusArray){
            check_status = statusArray[i]

            if ($("#Checkbox_"+check_status).is(":checked") == true && status_text == check_status){
                //console.log("detected " + id + " with status " + status_text)
                console.log(host + " to be shown")
                $("#"+host).show()
                console.log($("#"+host).attr('id'))
            }
            if ($("#Checkbox_"+check_status).is(":checked") == false && status_text == check_status){
                console.log(host + " to be hide")
                $("#"+host).hide()
                console.log($("#"+host).attr('id'))
            }
        }

    })
}

    $(document).ready(function(){
        console.log("Load done")


        $("input").click(function(){
            var id = $(this).attr('id')
            console.log(id + " clicked")
            console.log(id + $(this).is(":checked"))

            checked = $(this).is(":checked")
            document.cookie = id + "=" + checked

            set_draw_level()

        })

        var statusArray = ["Warning", "Critical", "Unknown"]
        for (var i in statusArray){

            Checkbox_status = getCookie ("Checkbox_" + statusArray[i])
            if (Checkbox_status != ""){
                if (Checkbox_status == "false"){
                    $("#Checkbox_" + statusArray[i]).attr("checked",false)
                }
                if (Checkbox_status == "true"){
                    $("#Checkbox_" + statusArray[i]).attr("checked",true)
                }
                console.log("Checkbox_status " + Checkbox_status)
                console.log($("#Checkbox_" + statusArray[i]).is(":checked"))
            }
        }

        set_draw_level()
        setTimeout("location.reload()", 30000);


    })


</script>

</head>

<body>

<h1>{{notice}}</h1>

<form action="">
    <label><input type="checkbox" name="vehicle" id="Checkbox_Warning">Warning</label><br>
    <label><input type="checkbox" name="vehicle" id="Checkbox_Critical" checked=True>Critical</label><br>
    <label><input type="checkbox" name="vehicle" id="Checkbox_Unknown">Unknown</label><br>
</form>

{% for gateway in gateway_list %}

    <b>{{gateway}}</b>

    <table border=1>
        <tr>
            {% for item in display_keys %}
            <th>{{item}}</th>
            {% endfor %}
        </tr>

        {% for item in display_items_dict|key:gateway %}
        <tr id={{item|key:"host"|key:"id"}}_{{item|key:"service"|key:"id"}}  >
            {% for display_key in display_keys %}
            <td id={{display_key}}_{{item|key:"host"|key:"id"}}_{{item|key:"service"|key:"id"}} 

            {% if item|key:"status"|key:"text" == "Critical" %}bgcolor="#ffdddd"{% endif %}
            {% if item|key:"status"|key:"text" == "Warning" %}bgcolor="#feffc1"{% endif %}
            {% if item|key:"status"|key:"text" == "Unknown" %}bgcolor="#ffddaa"{% endif %}
            >
                    
                    {{item|key:display_key|key:"text"}}
            </td>
            {% endfor %}
        </td>
        {% endfor %}
    </table>

{% endfor %}

</body>
</html>

