{% load get_dict_value_by_key_name %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="http://203.117.172.248/media/javascript/modify_exists.js"></script>
    <title>notify management</title>
</head>

<body>

    <h1>{{notice}}</h1>
    <a href="view_existing">Back</a><br>
    <form>
    <table border=5>
        <tr>
            <td>Item</td> <td>New Value</td> <td>Current value</td>
        </tr>
        {% for display_key in display_keys %}
        <tr>
            <td>{{display_key}}</td>
            <td id={{display_key}}_edit>
                {% if display_key == "type" %}<!--type should not be changable -->
                    <p id=input_type>{{display_items.0|key:display_key}}</p>
                {% elif display_key == "param4" or display_key == "desc" or display_key == "type" %}
                    <textarea cols="60" rows="6" id=input_{{display_key}}>{{display_items.0|key:display_key}}</textarea>
                {% elif display_key == "param1" %}<!-- gameid -->
                    <select id=input_param1>
                         {% for game_name in game_name_list %}
                             <option value="{{game_name}}" {% if game_name == current_game_name %}selected="selected"{% endif %}>{{game_name}}</option>
                         {% endfor %} 
                    </select>
                {% elif display_key == "nid" %}<!-- ABC DE-->
                    <input type="radio" name="input_nid_1" value="A" {% if "A" in display_items.0|key:display_key %}checked{% endif %}>A
                    <input type="radio" name="input_nid_1" value="B" {% if "B" in display_items.0|key:display_key %}checked{% endif %}>B
                    <input type="radio" name="input_nid_1" value="C" {% if "C" in display_items.0|key:display_key %}checked{% endif %}>C<br>

                    <input type="checkbox" name="input_nid_2" value="D" {% if "D" in display_items.0|key:display_key %}checked{% endif %}>D
                    <input type="checkbox" name="input_nid_2" value="E" {% if "E" in display_items.0|key:display_key %}checked{% endif %}>E
                    <input type="checkbox" name="input_nid_2" value="F" {% if "F" in display_items.0|key:display_key %}checked{% endif %}>F
                {% elif display_key == "param2" or display_key == "param3" %}
                    <input type="text"  size=75 id=input_{{display_key}} value="{{display_items.0|key:display_key}}">
                {% endif %}
            </td>
            <td id={{display_key}}_current>{{display_items.0|key:display_key}}</td>
        </tr>
        {% endfor %}
    </table>
    </form>

    <button type="button" id=submit_button>Submit</button>
    <button type="button">Reset</button>

</body>
</html>
