{% load get_app_username_ip %}
<!DOCTYPE html>
<html>
<head>
  <title>User Summary based on APP</title>
  <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
  </link>
  <script type="text/javascript">

//    String.prototype.trim = function() {
//        return this.replace(/^\s+|\s+$/g, "");
//    };

    var current_user_id = ""; //Which user is being edited
    var input_count = 0;     //how many input is being opened

    function edit_me(obj)
    {
      var current_content = obj.innerHTML.trim()
//      alert("current_content is :" + current_content)
      var new_user_id = obj.id.split(":").pop()
      if (new_user_id != current_user_id && input_count > 0 )
      {
        alert("Pls finish editing current user "+current_user_id+" first! "+ input_count + " items current under editing")
        return
      }
      current_user_id = new_user_id
      input_count ++
       console.log("edit_me" + input_count)

      if (obj.firstChild.tagName != "INPUT")
      {
//        alert("obj.firstChild.tagName" + obj.firstChild.tagName)
        obj.innerHTML = '<input type="text" name="text_input_' + obj.id +  '" value="' + current_content +  '">' +
'<button class="btn btn-primary" type="button" id="submit_button:' + obj.id + '" onclick="submit_change(this,event)">Submit Change</button> ' +
'<button class="btn btn-small" type="button" id="cancel_button:' + obj.id + '" onclick="cancel_change(this,event)">Cancel Change</button> '

          obj.onclick = ""

      }
    }

    function submit_change(obj, e)
    {
      if (!e) var e = window.event;
      e.cancelBubble = true;
      if (e.stopPropagation) e.stopPropagation();

      var value = obj.parentNode.firstChild.value
      var app_user_info_type = obj.id.split(":")[1]
//      alert("obj.id:" + obj.id + "value" + value)
      var xmlhttp;
      xmlhttp=new XMLHttpRequest();
      xmlhttp.onreadystatechange=function()
      {
          if (xmlhttp.readyState==4 && xmlhttp.status==200)
          {
              var obj_1 = obj.parentNode
              obj_1.innerHTML=atob(xmlhttp.responseText);
              input_count--
              obj_1.onclick=function(){edit_me(this)}
              console.log("canel_change" + input_count)
          }
          //else
          //{
          //    alert("Something wrong happened! Try again later")
          //}
      }
      xmlhttp.open("POST","ajax_set_user_content",true);
      xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      xmlhttp.send( "current_user_id=" + current_user_id + "&app_user_info_type=" + app_user_info_type + "&content=" + window.btoa(value) );

//      obj.parentNode.innerHTML = value
//      input_count --
//      alert(input_count)
    }

    function cancel_change(obj, e)
    {
      if (!e) var e = window.event;
      e.cancelBubble = true;
      if (e.stopPropagation) e.stopPropagation();

      //var value = obj.parentNode.firstChild.value
      //obj.parentNode.innerHTML = value // To be changed to get from server the old value later

      //current_user_id shall be used
      var app_user_info_type = obj.id.split(":")[1]

      var xmlhttp;
      xmlhttp=new XMLHttpRequest();
      xmlhttp.onreadystatechange=function()
      {
          if (xmlhttp.readyState==4 && xmlhttp.status==200)
          {
              var obj_1 = obj.parentNode
              obj_1.innerHTML=atob(xmlhttp.responseText);
              input_count--
              obj_1.onclick=function(){edit_me(this)}
              console.log("canel_change" + input_count)
          }
          //else
          //{
          //    alert("Something wrong happened! Try again later")
          //}
      }
      xmlhttp.open("GET","ajax_get_user_content?"+"current_user_id="+current_user_id+"&app_user_info_type="+app_user_info_type,true);
      xmlhttp.send();

      //input_count --
    }

    function modify_existing_user(obj, e)
    {
      if (!e) var e = window.event;
      e.cancelBubble = true;
      if (e.stopPropagation) e.stopPropagation();

      cluster_id = obj.id.split("_")[1]
      user_id = obj.id.split("_")[2]
      url = "http://203.117.172.248/db_survey/modify_user_privilege/?target_cluster="+cluster_id+"&target_user="+user_id
      console.log(obj.id, cluster_id, user_id, url)
      window.open(url)

    }

  </script>
</head>
<body>

{% if display_items %}
  <table class="table table-condensed">
    {% for item in display_items %}
      <tr>
        <td width=10%>
          {{item|get_username_IP}}
        </td>
        <td width=20% id="user_related_service:{{item|get_username_IP}}" onclick=edit_me(this)>
          {{item|get_user_related_service}}
        </td>
        <td width=20% id="user_assigned_developer:{{item|get_username_IP}}" onclick=edit_me(this)>
          {{item|get_user_assigned_developer}}
        </td>
        <td width=20% id="user_def:{{item|get_username_IP}}" onclick=edit_me(this)>
          {{item|get_user_def}}
        </td >
        {{item|get_html_cluster_and_access_status|safe}}
      </tr>
    {% endfor %}
  </table>

{% endif %}

</body>
</html>
