{% load get_dict_value_by_key_name %}
<html>

  <head>
    <title>Mysql Cluster</title>

    <script type="text/javascript">
    </script>
  </head>

  <body> 
    <p id="text_1" onclick = "change_text(this.id)">Hello world!</p>

    
    <a href=/db_survey/display_dict/> Dictionary List </a>


    <p>Lists of database clusters</p>

  {% if cluster_dict and display_list and False %}

  <p>Click on the name of DB_Cluster to <b>view</b> the detail</p>
    <table border="5">
      {% for display_item in display_list %}
        <tr>
          <td><a href="?target_cluster={{cluster_dict|key:display_item}}">{{display_item}}</a></td>
        </tr>
      {% endfor %}
    </table>

  {% endif %}

  <form action="" method="get">
      {{db_list_form}}
      <input type="submit" value="Take me there!">
  </form>


  <p><a href="/db_survey/modify_cluster_list/">Or, Click here to <b>MODIFY</b> the data</a></p>

  </body> 

</html>
