{% load get_dict_value_by_key_name %}
<style type = "text/css">
h2 {color: red}
</style>
<html>
<head>
    <title>DB Info System</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script TYPE="text/javascript" src="http://203.117.172.248/media/javascript/display_all.js"></script>
</head>

<body>
<p><a href="?">Get back to the cluster list</a></p>
{% if not display_items %}
  <p>No display_items</p>
{% endif %}
{% if not display_keys %}
  <p>No display_keys</p>
{% endif %}


<h3> Select Extra info </h3>
<select name="title_list" id=title_select style="width: 400px" onclick=title_func(this)>
    <option value=----------->----------</option>
</select>

{% if display_items and display_keys %}
  <h2>DB Cluster Detail</h2>
  <table border="5">
      <colgroup>
        <col span="2" style="background-color:rgb(108,186,249)">
        <col span="2" style="background-color:rgb(133,198,250)">
        <col span="4" style="background-color:rgb(168,214,251)">
        <col span="7" style="background-color:rgb(196,227,253)">
      </colgroup>
  <tr>
  {% for item in display_keys %}
    <th id={{item}}_title onclick="title_func_by_id(this)">{{item}}</th>
  {% endfor %}
  </tr>
  {% for display_item in display_items %}
    <tr>
    {% for display_key in display_keys %}
      {% if display_item|key:display_key != 'KEY_TOBE_IGNORED' %}
        {% if display_item|key:display_key %}
          <td align="center" valign="top" rowspan = "{{display_item|row_span_of_key:display_key}}" id = {{display_item|id_of_key:display_key}} onclick="function_by_id(this)">{{display_item|key:display_key|safe}}</td>
        {% else %}
          <td align="center" valign="top" rowspan = "{{display_item|row_span_of_key:display_key}}" id = {{display_item|id_of_key:display_key}} onclick="function_by_id(this)">&nbsp;</td>
        {% endif %}
      {% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </table>
{% endif %}
</body>
</html>

