{% load get_from_privilege_list %}



<html>


<head>
    <title>Change user privilege</title>

    <script type="text/javascript">
      function get_table_form(obj)
      {
          //alert(obj.id);
          obj_1 = document.getElementById("test_1")
          var xmlhttp;
          xmlhttp=new XMLHttpRequest();
          xmlhttp.onreadystatechange=function()
          {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
              {
                  obj_1.innerHTML=xmlhttp.responseText;
              }
              else
              {
                  obj_1.innerHTML="Something Wrong" + obj.id
              }
          }
          xmlhttp.open("GET","ajax_get_table_list?"+"schema_id="+obj.value,true);
          xmlhttp.send();
          
      }

      function delete_certain_privilege(obj)
      {
        //alert(obj.id);
        obj_1 = document.getElementById("privilege_id_" + obj.id)
        var xmlhttp_1;
        xmlhttp_1=new XMLHttpRequest();
        xmlhttp_1.onreadystatechange=function()
        {
          if (xmlhttp_1.readyState==4 && xmlhttp_1.status==200 )
          {
            var responseText = xmlhttp_1.responseText;
            if (responseText== "Done")
            {
              obj_1.innerHTML="";
            }
            alert(xmlhttp_1.responseText)
          }
        } 
        xmlhttp_1.open("GET","ajax_remove_privilege?" + "privilege_id=" + obj.id,true);
        xmlhttp_1.send();
      }

      function generate_add_privilege_sql(obj)
      {
        console.log("generate_add_privilege_sql")
        var form_item_list = document.new_privilege_form_id.elements
        console.log(form_item_list.length)
        for (var i=0; i<form_item_list.length; i++)
        {
          console.log(i)
          console.log("name="+ form_item_list[i].name +"\nvalue="+ form_item_list[i].value); 
        }
      }
    </script>
  </head>
    {% if modify_user %}
        <a href="/db_survey/display_cluster_list/?target_cluster={{source_cluster_id}}&access_level={{access_level}}"><b>Take me Back to the cluster page</b></a>
        <h1>Your are modifing user {{user_at_host}} inside DB Cluster {{source_cluster_name}}</h1>
        <!--<form action="/db_survey/add_privilege/{{user_id}}/" method="post">
            {{new_privilege_form}}
            <input type="submit" value="add this privilege">
        </form> -->
        <table border="5">
            {% for privilege_item in privilege_list %}
                <tr id=privilege_id_{{privilege_item|privilege_id}}>
                    <td>
                    <!--<form action="/db_survey/delete_privilege/{{privilege_item|privilege_id}}/" method="post">-->
                    <form>
                            {{privilege_item|privilege_desc}}
                        <input id={{privilege_item|privilege_id}} type="button" value="Delete This Privilege" onclick=delete_certain_privilege(this)>
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form action="/db_survey/delete_user/{{user_id}}/" method="post">
            {{delete_user_form}}
            <input type="submit" value="Confirm delete user">
        </form>

        <input type="button" value="Confirm add privilege" onclick=generate_add_privilege_sql(this)>

          <table>
            <tr>
              <th>
                Privilege and Schema
              </th>
              <th>
                Table List
              </th>
            </tr>
            <tr>
              <td valign="top">
                <table>
                  <from id=new_privilege_form>
                      {{select_schema_form}}
                  </form>
                </table>
              </td>
              <td valign="top">
                <ul id=test_1>
                </ul>
              <td>
            </tr>
          </table>
          
    {% endif %}
<p id=target_sql_id></p>

</html>
