{% extends 'start_page/base.html' %}
{% load range %}

{% block tree %}

	<ul id="browser" class="filetree treeview-famfamfam">
		<li><span class="folder">Folder 1</span>
			<ul>
				<li class="closed"><span class="folder">Item 1.1</span>
					<ul>
						<li><span class="file">Item 1.1.1</span></li>
					</ul>
				</li>
				<li class="closed"><span class="folder">Folder 2</span>
					<ul>
						<li><span class="folder">Subfolder 2.1</span>
							<ul id="folder21">
								<li><span class="file">File 2.1.1</span></li>
								<li><span class="file">File 2.1.2</span></li>
							</ul>
						</li>
						<li><span class="folder">Subfolder 2.2</span>
							<ul>
								<li><span class="file">File 2.2.1</span></li>
								<li><span class="file">File 2.2.2</span></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="closed"><span class="folder">Folder 3 (closed at start)</span>
					<ul>
						<li><span class="file">File 3.1</span></li>
					</ul>
				</li>
				<li><span class="file">File 4</span></li>
			</ul>
		</li>
	</ul>
{% endblock %}

{% block summary %}
		<table class="tableA">
			{% for row in 2|times  %}
			<tr>
				{% for col in 3|times  %}
				<td>
					<svg x="10" y="0">
					<g>
					<rect x="10" width="200" height="150" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
					<text x="30" y="40" font-family="Verdana" font-size="30" fill="black"> Hello {{row}} {{col}}</text>
					</rect>
					</g>
					</svg>
				</td>
			    {% endfor %}
			</tr>
			
			{% endfor %}
		</table>
{% endblock %}

{% block detail %}
		<svg x="10" y="0">
			<g>
				<rect x="10" width="200" height="150" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
				<text y="30" font-family="Verdana" font-size="30" fill="black" > Hello</text>
				</rect>
			</g>
		</svg>
{% endblock %}