{% extends 'start_page/base.html' %}
{% load staticfiles %}
{% load range %}

{%block script%}
<script language="javascript" src="{% static "js/main.js" %}"></script>
{%endblock%}

{% block tree %}
	<ul id="browser" class="filetree treeview-famfamfam">
		<li><span class="folder">Monitor</span>
			<ul>
				{% for k in product %}
				<li><span class="file"><a href="/start_page/product/{{k}}"> {{k}} </a></span></li>
				{% endfor %}
			</ul>
		</li>
	</ul>
{% endblock %}

{% block summary %}
		<br> {{selected_product}}
		<table class="tableA">
			{% for k, v in list.iteritems %}
				{% if k = selected_product %}
					{% for kk in v  %}
					<td>
						<svg id="id_{{selected_product}}_{{kk}}" x="10" y="0">
						<g>
						<rect x="10" width="200" height="150" style="fill:#5858FA;stroke-width:3;stroke:rgb(0,0,0)" />
						<text x="30" y="40" font-family="Verdana" font-size="30" fill="black">{{kk}}</text>
						</rect>
						</g>
						</svg>

						<script>
						$( "#id_{{selected_product}}_{{kk}}" ).click(function() {
							showDetail($(this));
						});

						$( "#id_{{selected_product}}_{{kk}}" ).css('cursor', 'pointer');
						</script>
					</td>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</table>
{% endblock %}

{% block detail %}
<table class="data tableA"><tr class="headerA"><td>Status</td><td>Description</td><td>Time</td></tr></table>
{% endblock %}