<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Transitional//EN 
http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd>
{% load staticfiles %}
<html> 
<head>
    <title>SMS Stats</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'javascript/dispaly_sms_stats2.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/Highcharts-3.0.2/js/highcharts.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'javascript/Highcharts-3.0.2/js/themes/gray.js' %}"></script>-->
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" />
<link href="{% static "javascript/sa_stats2.css" %}" rel="stylesheet" />

</head>
<body>

<div class="menu-wrapper">

<div class="btn-group" data-toggle="buttons-radio" id="interval_group">
	<button type="button" id="oneday" class="btn btn-primary active">One Day</button>
	<button type="button" id="sevenday" class="btn btn-primary">Seven Day</button>
	<button type="button" id="onemonth" class="btn btn-primary">One Month</button>
	<label id="loading"></label>
</div>


</div>

<div class="graph-wrapper">
	{% csrf_token %}
	<div id="graph_data">
	</div>
</div>


</body>                                                                                                                                                                                                                   
</html>
