{% if result_list %}
<script type="text/javascript">


$(document).ready(function() {
//console.log('{{timestamp_list}}');
Highcharts.setOptions({
	global: {
		useUTC : false
	}
});

{% for result in result_list.items %}
	
	var sg = $('<div id="smallgraph" style="width:1500px; height:500px" />').appendTo('#graph_data');
	sg.highcharts({
		chart: {
			zoomType: 'x',
			type: 'line',
			events: {
				load: function(){
					var series = this.series;
					setInterval(function() {
						console.log($('#interval_group .active')[0].id);
						$.ajax({
							type: 'POST',
							url: "live_update",
							data: { 'country' : '{{result.0}}',
								'interval' : $('#interval_group .active')[0].id},
							success: function(data) {
								for (i=0;i<series.length;i++){
									series[i].addPoint([data[2-i]['timestamp'], data[2-i]['number']], true, true);
								}
								//series.addPoint();
								console.log(data)
							},
						});	
					}, 300000);
				}
			},
		},
		title: {
			text: '{{result.0}}',
		},
		xAxis: {
			type: 'datetime',
			//categories: [{% for r in result.1.items %} {% for item in r.1 %}new Date({{item.timestamp}}*1000), {% endfor %}{% endfor %}],
			//minTickInterval: 3600 * 1000,
			//minRange: 10, 
			//dateTimeLabelFormats : {
			//	second : '%H:%M:%S',
			//}
		},
		yAxis: {
			title: {
				text: 'Message Count'
			},
			plotLines: [{
				value: 0,
				width: 1,
			}]
		},
		series: [
			{% for r in result.1.items %}
			{
				name: '{{r.0}}',
				data: [{% for item in r.1 %} [{{item.timestamp}},{{item.number}}], {% endfor %}],
			},
			{% endfor %}
		]
	});
{% endfor %}

});

</script>
{% endif %}
